apiVersion: v1
kind: Service
metadata:
  name: searxng
  namespace: chat
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: searxng
